<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:usesCleartextTraffic="true">
        <meta-data
            android:name="ALI_IVS_ACCESS_KEY"
            android:value="${ALI_IVS_ACCESS_KEY}" />
        <meta-data
            android:name="ALI_IVS_ACCESS_KEY_SECRET"
            android:value="${ALI_IVS_ACCESS_KEY_SECRET}" />
        <meta-data
            android:name="ALI_IVS_APP_KEY"
            android:value="${ALI_IVS_APP_KEY}" />
        <meta-data
            android:name="BAIDU_IVS_APP_ID"
            android:value="\${BAIDU_IVS_APP_ID}" />
        <meta-data
            android:name="BAIDU_IVS_API_KEY"
            android:value="${BAIDU_IVS_API_KEY}" />
        <meta-data
            android:name="BAIDU_IVS_SECRET_KEY"
            android:value="${BAIDU_IVS_SECRET_KEY}" />
        <meta-data
            android:name="OPENAI_API_KEY"
            android:value="${OPENAI_API_KEY}" />
    </application>
</manifest>