<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:usesCleartextTraffic="true">

        <meta-data
            android:name="ALI_TTS_ACCESS_KEY"
            android:value="LTAI5tCTFtQRPQjv9EsKKdWq" />
        <meta-data
            android:name="ALI_TTS_ACCESS_KEY_SECRET"
            android:value="vuIs6q9sJugpcInPk7b6kxbM3xJJfy" />
        <meta-data
            android:name="ALI_TTS_APP_KEY"
            android:value="tLuhZZn2xrMQnsHB" />
    </application>
</manifest>