<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="ALI_IVS_ACCESS_KEY"
            android:value="${ALI_IVS_ACCESS_KEY}" />
        <meta-data
            android:name="ALI_IVS_ACCESS_KEY_SECRET"
            android:value="${ALI_IVS_ACCESS_KEY_SECRET}" />
        <meta-data
            android:name="ALI_IVS_APP_KEY"
            android:value="${ALI_IVS_APP_KEY}" />
        <meta-data
            android:name="BAIDU_IVS_APP_ID"
            android:value="\${BAIDU_IVS_APP_ID}" />
        <meta-data
            android:name="BAIDU_IVS_API_KEY"
            android:value="${BAIDU_IVS_API_KEY}" />
        <meta-data
            android:name="BAIDU_IVS_SECRET_KEY"
            android:value="${BAIDU_IVS_SECRET_KEY}" />
        <meta-data
            android:name="OPENAI_API_KEY"
            android:value="${OPENAI_API_KEY}" />
        <meta-data
            android:name="PICOVOICE_ACCESS_KEY"
            android:value="${PICOVOICE_ACCESS_KEY}" />
        <meta-data
            android:name="GOOGLE_CLOUD_API_KEY"
            android:value="${GOOGLE_CLOUD_API_KEY}" />
    </application>

</manifest>